@page
@model Electronic_Gadget.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>


    <div class="container">
        <div class="row">

            @{ int i = 1; }
            @foreach (var item in Model.Product)
            {



                <div class="col-lg-3">
                    <div class="card border border-primary">

                      
                        <div class="card-body">
                            <h5 class="card-title">Name : @item.Name</h5>
                            <h5 class="card-title"> Price: @item.Price</h5>
                            <h5 class="card-title"> Brand: @item.Brand.Brand_Name</h5>
                            <h5 class="card-title"> Category: @item.Category.Product</h5>


                            <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a>
                            <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>


                        </div>
                    </div>
                </div> if (i % 4 == 0)
                {
                    <div class="w-100"></div>}
                i++;


            }

        </div>
